@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-cover bg-center bg-no-repeat;
  background-image: url('/image.png'); /* 图片放在 public 文件夹 */
  width: 100%;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-white text-gray-900 font-sans;
}

.dark body {
  @apply bg-gray-900 text-gray-100;
}
